/.gitcode/ @kkkkkkkbbbbbbb
/cmake/ @yuqiaoyu
/demangler/ @yuqiaoyu
/doc/ @luojianing
/figures/ @luojianing

/include/cangjie/AST/ @kkkkkkkbbbbbbb
/include/cangjie/Basic/ @kkkkkkkbbbbbbb
/include/cangjie/CHIR/ @Mr_Kang_Yi
/include/cangjie/CodeGen/ @yuqiaoyu
/include/cangjie/ConditionalCompilation/ @kkkkkkkbbbbbbb
/include/cangjie/Driver/ @yuqiaoyu
/include/cangjie/Frontend/ @yuqiaoyu
/include/cangjie/FrontendTool/ @yuqiaoyu
/include/cangjie/IncrementalCompilation/ @kkkkkkkbbbbbbb
/include/cangjie/Lex/ @kkkkkkkbbbbbbb
/include/cangjie/Macro/ @kkkkkkkbbbbbbb
/include/cangjie/Mangle/ @yuqiaoyu
/include/cangjie/Modules/ @kkkkkkkbbbbbbb
/include/cangjie/Option/ @yuqiaoyu
/include/cangjie/Parse/ @kkkkkkkbbbbbbb
/include/cangjie/Sema/ @kkkkkkkbbbbbbb @huohuixin
/include/cangjie/Utils/ @yuqiaoyu

/integration_build/ @zichexuelan
/schema/ @kkkkkkkbbbbbbb

/src/AST/ @kkkkkkkbbbbbbb
/src/Basic/ @kkkkkkkbbbbbbb
/src/CHIR/ @Mr_Kang_Yi
/src/CodeGen/ @yuqiaoyu
/src/ConditionalCompilation/ @kkkkkkkbbbbbbb
/src/Driver/ @yuqiaoyu
/src/Frontend/ @yuqiaoyu
/src/FrontendTool/ @yuqiaoyu
/src/IncrementalCompilation/ @kkkkkkkbbbbbbb
/src/Lex/ @kkkkkkkbbbbbbb
/src/Macro/ @kkkkkkkbbbbbbb
/src/Mangle/ @yuqiaoyu
/src/Modules/ @kkkkkkkbbbbbbb
/src/Option/ @yuqiaoyu
/src/Parse/ @kkkkkkkbbbbbbb
/src/Sema/ @kkkkkkkbbbbbbb @huohuixin
/src/Utils/ @yuqiaoyu

/third_party/ @yuqiaoyu

/unittests/AST/ @kkkkkkkbbbbbbb
/unittests/Basic/ @kkkkkkkbbbbbbb
/unittests/CHIR/ @Mr_Kang_Yi
/unittests/CodeGen/ @yuqiaoyu
/unittests/ConditionalCompilation/ @kkkkkkkbbbbbbb
/unittests/Demangle/ @yuqiaoyu
/unittests/Driver/ @yuqiaoyu
/unittests/Frontend/ @yuqiaoyu
/unittests/IncrCompile/ @kkkkkkkbbbbbbb
/unittests/Lex/ @kkkkkkkbbbbbbb
/unittests/Macro/ @kkkkkkkbbbbbbb
/unittests/Modules/ @kkkkkkkbbbbbbb
/unittests/Option/ @yuqiaoyu
/unittests/Parse/ @kkkkkkkbbbbbbb
/unittests/Sema/ @kkkkkkkbbbbbbb @huohuixin
/unittests/TestCompilerInstance/ @kkkkkkkbbbbbbb
/unittests/Utils/ @yuqiaoyu

/utils/ @yuqiaoyu
build.py @yuqiaoyu
CMakeLists.txt @yuqiaoyu
LICENSE @xuanjz
OAT.xml @xuanjz
Open_Source_Software_Notice.docx @xuanjz
*.md @luojianing
